.vvv{
    background-color: brown;
}
.fff{
    background-color: aqua;
    text-align: center;
}
.ggg{
    background-color: white;
    
}
.ert{
    color: grey;
    text-align: center;
}
.qaz{
    background-color: white;
    border: 1px solid black;
    width: 350px;
    border-radius: 15px;
}
.wee{
    text-align: center;
}
.lll{
    background-color: black;
    border-radius: 10px;
    color: white;
}
.z{
    background-color: white;
}
.j{
    text-align: center;
}
.rr{
    background-color: white;
    border: 1px solid black;
    width: 350px;
    border-radius: 15px;
    
}
.k{
    text-align: center;
}
p{
    color: grey;
    text-align: center;
}
.w{
    background-color: black;
    border-radius: 10px;
    color: white;
    
}
.b{
    background-color: white;
    width: 350px;
}
.d{
    color: grey;
}
.q{
    border-radius: 10px;
    background-color: black;
    color: white;
}
.e{
    background-color: rgb(247, 199, 206);
}